/******************** Tag Selectors ********************/

body {
    margin: 0;
    background-color: seashell;}

h1 {
  color :red;
  font-size: 80px;
  text-align: center;
}

#heading {
    color: purple;
  }

img:hover {background-color: gold; }

div {
  display: inline-block;
  position: relative;
  background-color: slateblue;
  height: 300px;
  width: 400px;
}
/******************** Class Selectors ********************/

.bacon {
  background-color: chartreuse;
}

.broccoli {
  background-color: crimson;
}

.circular {
    border: 5px solid black;
    /* border-radius: 50%; */
    padding: 60px;
    margin: 20px;
    transform: rotate(14deg);
  }


/******************** ID Selectors ********************/

#heading {
  background-color: purple;
  }